@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "estedadLighter";
  font-weight: lighter;
  src: url("./assets/Fonts/Estedad-ExtraLight.woff2");
}

@font-face {
  font-family: "Estedad";
  font-weight: thin;
  src: url("./assets/Fonts/Estedad-Thin.woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: normal;
  src: url("./assets/Fonts/Estedad-Regular.woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: bold;
  src: url("./assets/Fonts/Estedad-SemiBold.woff2");
}
*{
  user-select: none;
}
body {
  direction: rtl !important;
}
